.box-body
  .row
    .col-md-12
      %p.text-center
        = semantic_form_for([:zut, @route], html: { class: 'form-horizontal' }) do |f|
          = f.input(:name)

          = f.actions do
            = f.action :submit
