<div class="box-header with-border">
  <h3 class="box-title">Import odpadów opakowaniowych</h3>
</div>

<div class="box-body">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        <%= form_tag service_packaging_wastes_path, multipart: true, class: "form-horizontal" do %>
          <div class="form-group">
            <%= label_tag :file, t('.file'), class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= file_field_tag :file, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= submit_tag t("buttons.submit"), class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </p>
    </div>
  </div>
</div>
