<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wyrzuc.to</title>
<style>
#map {
  float:left;
  width:70%;
  height: 250px; 
}
#kiedy {
  float:left;
  width:30%;
}
</style>
</head>

<body>
Gdzie mam wyrzuciæ: 
<div id="szukaj">
	<form action="../main/home">
   <input type="text" name="fname">
  <input type="submit" value="sprawdz">
</form>

</div>
<div id="rodzic">
      <div id="map">
  <%=
    map(:center => {
      :latlng => [18.7, 54.3],
      :zoom => 12
    },
     :markers => [
     {
       :latlng => [54.3, 18.7],
       :popup => "PTK ODBIORU"
     }
  ]
    )
  %>
</div>
      <div id="kiedy"><h2>Sprawdz terminy odbioru odpadów</h2>
     <form action="../main/home">
   <input type="text" name="fname"><br>
  <input type="submit" value="sprawdz">
</form>

      </div>
    </div>


</body>

</html>