%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu
      %li.header Import danych
      %li.treeview
        = link_to zut_containers_path do
          = fa_icon('glass')
          %span Odpady opakowaniowe
     