.types.x-buttons
  %a#packaging_wastes.packaging_wastes.x-left-button{:href => "#"}
    = image_tag "icon_opakowania.png"
    %span Odpady opakowaniowe
  %br/
  %a#hazardous_wastes.hazardous_wastes.x-left-button{:href => "#"}
    = image_tag "icon_bio.png"
    %span Odpady niebezpieczne
  %br/
  %a#pharmacies.pharmacies.x-left-button{:href => "#"}
    = image_tag "icon_leki.png"
    %span Apteki
  %br/
  / %a#bulky_wastes.bulky_wastes.x-left-button{:href => "#"}
  /   = image_tag "icon_gabarytowe.png"
  /   %span Odpady wielkogabarytowe
  / %br/
