<div class="footer clearfix">
  <div class="pull-right">
    <%= image_tag('gdansk-logo.png') %>
  </div>
  <ul>
    <li><%= link_to('O aplikacji', static_page_path('o-aplikacji'), class: 'fancybox fancybox.ajax') %></li>
    <li><%= link_to('Kontakt', static_page_path('kontakt'), class: 'fancybox fancybox.ajax') %></li>
  </ul>
</div>
