<div class="header">
  <a href="/" class="home"></a>
  <%= form_tag fraction_description_home_path, remote: true do %>
    <%= label_tag :phrase, "Gdzie mam wyrzucić" %>
    <div>
      <%= autocomplete_field_tag :phrase, nil, autocomplete_phrase_name_home_path, required: true, placeholder: t("placeholders.waste_type") %>
      <%= submit_tag 'Szukaj' %>
    </div>
  <% end %>
</div>
