.box-header.with-border
  %h3.box-title Import punktów odbioru baterii
.box-body
  .row
    .col-md-12
      %p.text-center
        = form_tag service_battery_points_path, multipart: true, class: 'form-horizontal' do
          .form-group
            = label_tag :file, 'Plik excel (ODS)', class: 'col-sm-2 control-label'
            .col-sm-10
              = file_field_tag :file, class: 'form-control'
          .form-group
            .col-sm-offset-2.col-sm-10
              = submit_tag t('buttons.submit'), class: 'btn btn-success'
