/*
 *= require bootstrap
 *= require font-awesome
 *= require jquery.ui.autocomplete
 *= require fancybox
 *= require application/scroll
 *= require application/home
 *= require application/static_pages
*/

@font-face {
  font-family: 'AvenirNextLTPro-UltLt';
  src: font-url('AvenirNextLTPro-UltLt.eot');
  src: font-url('AvenirNextLTPro-UltLt.eot?#iefix') format('embedded-opentype'),
       font-url('AvenirNextLTPro-UltLt.woff') format('woff'),
       font-url('AvenirNextLTPro-UltLt.ttf') format('truetype'),
       font-url('AvenirNextLTPro-UltLt.svg') format('svg');
}
