/*
 *= require bootstrap
 *= require font-awesome
 *= require service/admin_lte
 *= require service/template_skins
*/
span.import.start {
	background-color: cornflowerblue;
}
span.import.end {
	background-color: coral;
}

table.table td.action, table.table th.action {
  width: 150px;
  text-align: center;
}