html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #FFFEFE;
  font-family: 'AvenirNextLTPro-UltLt';
  font-size: 15px;
}

#map-canvas {
  height: 100%;
}

.top-navbar {
  background-color: rgba(18, 120, 62, 0.91);
  border-color: rgba(18, 120, 62, 0.91);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
}

.margin-top-15 {
  margin-top: 15px;
}

.right-button {
  position: fixed;
  top:50%;
  right: 0;
  border-radius: 5px 0px 0px 5px;
  padding: 10px 15px;
  font-size: 16px;
  z-index: 99999;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
  background-color: rgba(0, 166, 90, 1);
}

.right-content {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -300px;
  border: 0px solid #ddd;
  width: 300px;
  z-index: 99999;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
  background-color: rgba(0, 166, 90, 1);
}

.left-buttons {
  float: left;
  position: fixed;
  top:35%;
  z-index: 99999;
  left: 0;
  width: 45px;
  margin-left: 5px;
}

.left-button {
  margin-bottom: 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
}

.left-button span {
  margin-left: 20px;
}

.left-button#pharmacies {
  background-color: #1f90ca;
}

.left-button#wet-and-dry-wastes {
  background-color: #00a65a;
}

.left-button#hazardous-wastes {
  background-color: #cf4a49;
}

.left-button#bulky-wastes {
  background-color: #F59617;
}

.left-button#packaging-wastes {
  background-color: #535456;
}

.text-center {
  text-align: center;
}

.close {
  font-size: 23px;
  color: white;
  opacity: 1;
}

.close:hover, .close:focus {
  color: white;
}

.news {
  height: 250px;
  background: #2f5940;
  padding: 15px;
  position: absolute;
  bottom: 0;
}

.news h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.right-content .location {
  padding: 15px;
  background: #237343;
}

.right-content .header {
  padding: 15px;
}

.right-content .date-set {
  position: relative;
  padding-bottom: 15px;
}

.right-content .date {
  padding: 15px;
  cursor: pointer;
}

.right-content .date a {
  color: white;
  text-decoration: none;
}

.right-content .date b {
  font-size: 24px;
  font-weight: 700;
}

.right-content .date + hr {
  margin: 0 15px 0 15px;
  border-width: 1px;
}

.slider-form {
  padding: 15px;
}
